<div [ngSwitch]="currentMainRoute">
  <div *ngSwitchCase="MAIN_ROUTES_DOM_REF.base3d">
    <nav>
      <a
        [routerLink]="[
          MAIN_ROUTES_DOM_REF.base3d,
          BASE_3D_ROUTES.customGeometry
        ]"
        [routerLinkActive]="['selected']"
      >
        Custom Geometry
      </a>
    </nav>
  </div>
  <div *ngSwitchCase="MAIN_ROUTES_DOM_REF.forceGraph"></div>
  <div *ngSwitchCase="MAIN_ROUTES_DOM_REF.canvas"></div>
  <div *ngSwitchCase="MAIN_ROUTES_DOM_REF.networkGraph">
    <nav>
      <a
      [routerLink]="[
        MAIN_ROUTES_DOM_REF.networkGraph,
        NETWORK_GRAPH_ROUTES.groupLayout
      ]"
      [routerLinkActive]="['selected']">Group Layout </a>
    </nav>
  </div>
  <div *ngSwitchCase="MAIN_ROUTES_DOM_REF.globeVisualization">
    <nav>
      <a
        [routerLink]="[
          MAIN_ROUTES_DOM_REF.globeVisualization,
          GLOBE_MODULE_ROUTES.globeRaycaster
        ]"
        [routerLinkActive]="['selected']"
      >
        globe raycaster
      </a>
      <a
        [routerLink]="[
          MAIN_ROUTES_DOM_REF.globeVisualization,
          GLOBE_MODULE_ROUTES.globeGlPackage
        ]"
        [routerLinkActive]="['selected']"
      >
        globe gl package
      </a>
    </nav>
  </div>
  <div *ngSwitchCase="MAIN_ROUTES_DOM_REF.threeBasics">
    <nav>
      <a
        [routerLink]="[
          MAIN_ROUTES_DOM_REF.threeBasics,
          THREE_MODULE_ROUTES.threeGlobeComponent
        ]"
        [routerLinkActive]="['selected']"
      >
        three Globe 2D
      </a>
      <a
        [routerLink]="[
          MAIN_ROUTES_DOM_REF.threeBasics,
          THREE_MODULE_ROUTES.threeGlobe3dComponent
        ]"
        [routerLinkActive]="['selected']"
      >
        three Globe 3d
      </a>
      <a
        [routerLink]="[
          MAIN_ROUTES_DOM_REF.threeBasics,
          THREE_MODULE_ROUTES.globePackageComponent
        ]"
        [routerLinkActive]="['selected']"
      >
        globe Package
      </a>
      <a
        [routerLink]="[
          MAIN_ROUTES_DOM_REF.threeBasics,
          THREE_MODULE_ROUTES.globeCounteriesComponent
        ]"
        [routerLinkActive]="['selected']"
      >
        globe Countries
      </a>
      <a
        [routerLink]="[
          MAIN_ROUTES_DOM_REF.threeBasics,
          THREE_MODULE_ROUTES.connectedNodesComponent
        ]"
        [routerLinkActive]="['selected']"
      >
        connected Nodes
      </a>
      <a
        [routerLink]="[
          MAIN_ROUTES_DOM_REF.threeBasics,
          THREE_MODULE_ROUTES.objectGroupComponent
        ]"
        [routerLinkActive]="['selected']"
      >
        object3d /Group
      </a>
    </nav>
  </div>
  <div *ngSwitchCase="MAIN_ROUTES_DOM_REF.threeOptimized">
    <nav>
      <a
        [routerLink]="[
          MAIN_ROUTES_DOM_REF.threeOptimized,
          THREE_OPTIMIZED_ROUTES.unoptimizedCubes
        ]"
        [routerLinkActive]="['selected']"
      >
        Unoptimized cubes
      </a>
      <a
        [routerLink]="[
          MAIN_ROUTES_DOM_REF.threeOptimized,
          THREE_OPTIMIZED_ROUTES.webglShaders
        ]"
        [routerLinkActive]="['selected']"
      >
        WebGl Shaders
      </a>
      <a
        [routerLink]="[
          MAIN_ROUTES_DOM_REF.threeOptimized,
          THREE_OPTIMIZED_ROUTES.instancingBasic
        ]"
        [routerLinkActive]="['selected']"
      >
        Three Instancing
      </a>
      <a
        [routerLink]="[
          MAIN_ROUTES_DOM_REF.threeOptimized,
          THREE_OPTIMIZED_ROUTES.instancingRaycast
        ]"
        [routerLinkActive]="['selected']"
      >
        Instancing Raycast
      </a>
      <a
        [routerLink]="[
          MAIN_ROUTES_DOM_REF.threeOptimized,
          THREE_OPTIMIZED_ROUTES.instancingLayout
        ]"
        [routerLinkActive]="['selected']"
      >
        Instancing Layout
      </a>
    </nav>
  </div>
  <div *ngSwitchDefault>output2</div>
</div>
