<!--The content below is only a placeholder and can be replaced.-->

<header>
  <h1>Data Visualization</h1>
  <nav class="logos">
    <img src="assets/header/js.png" alt="js" />
    <img src="assets/header/three.png" alt="three" class="three" />
    <img src="assets/header/angular.png" alt="angular" />
  </nav>
</header>
<main>
  <app-menu-primary></app-menu-primary>
  <div class="overflow-container">
    <section class="main-flex">
      <div class="sub-nav">
        <app-menu-secondary></app-menu-secondary>
      </div>
      <div class="router-container">
        <router-outlet></router-outlet>
      </div>
    </section>
  </div>
</main>
