<!--The content below is only a placeholder and can be replaced.-->

<header>
  <h1>Data Visualization</h1>
  <nav class="logos">
    <img src="assets/header/js.png" alt="js" />
    <img src="assets/header/three.png" alt="three" class="three" />
    <img src="assets/header/angular.png" alt="angular" />
  </nav>
</header>
<main>
  <section class="sub-nav">
    <app-menu-secondary></app-menu-secondary>
  </section>
  <section class="main-flex">
    <app-menu-primary></app-menu-primary>
    <div class="router-container">
      <router-outlet></router-outlet>
    </div>
  </section>
</main>
