<section #stats style="position: relative">
  <section class="metrices">
    <div>Render Calls: {{ renderCalls }}</div>
    <div>
      Node type
      <label>
        <input
          type="radio"
          value="obj"
          name="nodeGeometryType"
          (change)="nodeGeometryChangeHandler($event)"
        />
        Imported Model
      </label>
      <label>
        <input
          type="radio"
          value="buffer"
          name="nodeGeometryType"
          (change)="nodeGeometryChangeHandler($event)"
        />
        Buffer geometry
      </label>
    </div>
    <div>
      <label for="points"
        >Node Count 
        <input
          type="number"
          id="points"
          name="points"
          (change)="objectCountChangeHandler($event)"
          [value]="objectCount"
        />
      </label>
    </div>
    <div>Connections: {{ connectionCount }}</div>
    <div>
      <label for="enable">
        <input
          type="checkbox"
          name="enable"
          id="enable"
          [checked]="enableConnections"
          (change)="connectionStateHandler($event)"
        />
        connections Enabled
      </label>
    </div>
    <div>
      <label for="enableLabels">
        <input
          type="checkbox"
          name="enableLabels"
          id="enableLabels"
          [checked]="enableLabels"
          (change)="labelsStateHandler($event)"
        />
        labels Enabled
      </label>
    </div>
  </section>
  <canvas
    height="500"
    width="1000"
    #canvasEl
    (click)="clickHandler($event)"
  ></canvas>
</section>
