<nav>
  <a
    [routerLink]="['/' + MAIN_ROUTES_DOM_REF.networkGraph]"
    [routerLinkActive]="['selected']"
  >
    Network Graph
  </a>
  <a
    [routerLink]="['/' + MAIN_ROUTES_DOM_REF.threeOptimized]"
    [routerLinkActive]="['selected']"
  >
    Three Instancing
  </a>
  <a
    [routerLink]="['/' + MAIN_ROUTES_DOM_REF.threeBasics]"
    [routerLinkActive]="['selected']"
  >
    Three Js Basics</a
  >
  <a
    [routerLink]="['/' + MAIN_ROUTES_DOM_REF.globeVisualization]"
    [routerLinkActive]="['selected']"
  >
    US Regions on Globe
  </a>
  <a
    [routerLink]="['/' + MAIN_ROUTES_DOM_REF.forceGraph]"
    [routerLinkActive]="['selected']"
  >
    3D Force Graph
  </a>
  <a
    [routerLink]="['/' + MAIN_ROUTES_DOM_REF.canvas]"
    [routerLinkActive]="['selected']"
  >
    Canvas
  </a>
  <a
    [routerLink]="['/' + MAIN_ROUTES_DOM_REF.base3d]"
    [routerLinkActive]="['selected']"
  >
    Base 3D
  </a>
</nav>
