<nav>
  <a
    [routerLink]="['/' + MAIN_ROUTES_DOM_REF['three-optimized']]"
    [routerLinkActive]="['selected']"
  >
    Three Instancing
  </a>
  <a
    [routerLink]="['/' + MAIN_ROUTES_DOM_REF['three-basics']]"
    [routerLinkActive]="['selected']"
  >
    Three Js Basics</a
  >
  <a
    [routerLink]="['/' + MAIN_ROUTES_DOM_REF['globe-visualization']]"
    [routerLinkActive]="['selected']"
  >
    US Regions on Globe
  </a>
  <a
    [routerLink]="['/' + MAIN_ROUTES_DOM_REF['force-graph']]"
    [routerLinkActive]="['selected']"
  >
    3D Force Graph
  </a>
  <a
    [routerLink]="['/' + MAIN_ROUTES_DOM_REF['canvas']]"
    [routerLinkActive]="['selected']"
  >
    Canvas
  </a>
  <a
    [routerLink]="['/' + MAIN_ROUTES_DOM_REF.base3d]"
    [routerLinkActive]="['selected']"
  >
    Base 3D
  </a>
</nav>
